<div id="navigation">
<%= link_to("Home", home_path) %><br />
<br />
<%= link_to("Nodes", nodes_path) %><br />
<br />
<%= link_to("Search Databases", search_databases_path) %><br />
<%= link_to("Tandem Parameter Files", tandem_parameter_files_path) %><br />
<%= link_to("OMSSA Parameter Files", omssa_parameter_files_path) %><br />
<%= link_to("Datafiles", datafiles_path) %><br />
<br />
<%= link_to("Jobs", jobs_path) %><br />
<%= link_to("Result files", resultfiles_path) %><br />
</div>
<div>
<%= link_to("Report a bug", "http://mcwbbc.lighthouseapp.com/projects/21023-vipdac", :class => 'white', :style => 'padding: 10px') %>
</div>
