<div id="navigation">
<%= link_to("Home", home_path) %><br />
<%= link_to("Nodes", nodes_path) %><br />
<%= link_to("Tandem Parameter Files", tandem_parameter_files_path) %><br />
<%= link_to("OMSSA Parameter Files", omssa_parameter_files_path) %><br />
<%= link_to("Jobs", jobs_path) %><br />
</div>
