<div style='margin-top: 5px;'>
  <b class="<%= css_class %>">
  <b class="<%= css_class %>1"><b></b></b>
  <b class="<%= css_class %>2"><b></b></b>
  <b class="<%= css_class %>3"></b>
  <b class="<%= css_class %>4"></b>
  <b class="<%= css_class %>5"></b></b>
  <div class="<%= css_class %>fg">
    <%= body %>
  </div>
  <b class="<%= css_class %>">
  <b class="<%= css_class %>5"></b>
  <b class="<%= css_class %>4"></b>
  <b class="<%= css_class %>3"></b>
  <b class="<%= css_class %>2"><b></b></b>
  <b class="<%= css_class %>1"><b></b></b></b>
</div>
